@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
}

/* header styles */
header h1 {
  color: #111111;
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
}

.btn-arrow {
  height: 50px;
  width: 50px;
  background: #fef7f7;
  border-radius: 50%;
}
.card-image-hight {
  height: 300px;
}
.modal-card-1 {
  background: rgba(235, 87, 87, 0.05);
  border: 1px solid #eb5757;
  border-radius: 16px;
}
.modal-card-2 {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 16px;
}
.card-1-info {
  background: #ffffff;
  border-radius: 16px;
}
